<div class="row" ng-controller="appController">
    <div class="col-md-12">
            <div class="card mt-3">
                <div class="header">
                    <h2>Settings</h2>
                </div>
                <div class="body settings">
                    <div class="sub">
                        <div class="description">
                            <h5>Income Slot</h5>
                            <p>Visibility Of Income Slot</p>
                        </div>

                        <input type="checkbox" ng-switchery="{ size: 'small', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" />
                            
                    </div>

                    <div class="sub">
                        <div class="description">
                            <h5>Expense Slot</h5>
                            <p>Visibility Of Expense Slot</p>
                        </div>
                        <input type="checkbox" ng-switchery="{ size: 'small', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" />
                    </div>

                    <div class="sub">
                            <div class="description">
                                <h5>Balance Slot</h5>
                                <p>Visibility Of Balance Slot</p>
                            </div>
                            <input type="checkbox" ng-switchery="{ size: 'small', color: '#ff0000', secondaryColor: '#eeeeee' }" ng-model="first" />
                    </div>
                </div>
            </div>
    </div>
</div>